.header
  .header__group
    = link_to new_group_path,class: "header__group--new" do
      部屋作成
  .header__title
    Title募集
  .header__devise
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete,class: "header__devise--login" do
        = current_user.nickname
    - else
      = link_to "#",class: "header__devise--login" do
        ログイン
      = link_to new_user_registration_path,class: "header__devise--new" do
        新規登録
.main
  .main__side--left
  .main__groups
    - Group.all.each do |group|
      = link_to group_games_path(group.id),class: "main__groups--group" do
        .group-name
          = group.name
        .player-name
          .player-name__kou
            = User.find(group.kou_user).nickname
          .player_name__vs
            対
          .player-name__otu
            = User.find(group.otu_user).nickname
  .main__side--right