- case @game.field_card
- when 1 then
  = @game.field_card.to_s + "です。"
- when 2 then
  = @game.field_card.to_s + "です。"
- when 3 then
  = @game.field_card.to_s + "です。"
- when 4 then
  = @game.field_card.to_s + "です。"
- when 5 then
  = @game.field_card.to_s + "です。"
- when 6 then
  = @game.field_card.to_s + "です。"
- when 7 then
  = @game.field_card.to_s + "です。"
- when 8 then
  = @game.field_card.to_s + "です。"
- when 9 then
  = @game.field_card.to_s + "です。"